<% content_for(:title, t('.title')) %>
<section class="text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light"><%= t('.title') %></h1>
      <div class="py-2">
        <p class="lead text-muted"><%= simple_format(t('.explain')) %></p>
        <%= render 'search_form', url: kanjis_path %>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row"> 
    <% if @kanjis.present? %>
      <%= render @kanjis %>
    <% else %>
      <div class="text-center pt-5">
        <%= t('.no_result') %>
      </div>
    <% end%>
  </div>
  <%= paginate @kanjis %>
</div>