<div class="card my-3">
  <div class="card-header">
  <%# 基本系をこれにして、controller がbookmarkなら2〜5業目消すにすると、user_reactions/のものが使えそう %>
    <%= link_to user_reaction.slot_yoji.decorate.jyukugo_mode, user_reaction.slot_yoji%>
  </div>
  <div class="card-body">
    <div class="h3">
      <%= user_reaction.body %>
    </div>
    <div class="text-end">
      <%= profile_link(user_reaction.user) %>
    </div>
  </div>
  <div class="card-footer text-end">
    <% if current_user.own?(user_reaction) %>
      <%= render 'user_reactions/crud_menu', {user_reaction: user_reaction} %>
    <% else %>
      <%= render 'bookmarks/bookmark_button', { bookmarkable: user_reaction } %>
    <% end %>
  </div>
</div>