<% content_for(:title, t('.title')) %>
<section class="text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-bolder"><%= t('.title') %></h1>
    </div>
  </div>
</section>
<div class="container">
  <div class="row mt-sl-2 mt-md-5">
    <p class="col-10 p-0">
      <div class="row nav-items-header justify-content-md-center mb-3">
        <div class="row justify-content-md-center mb-3">
          <ul class="nav nav-pills nav-fill col-10 rounded  border-bottom" id="pills-tab" role="tablist">
            <li class="nav-item" role="relations">
              <button class="nav-link active" id="pills-meanings-tab" data-bs-toggle="pill" data-bs-target="#pills-meanings" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><%= SlotYoji.model_name.human %></button>
            </li>
            <li class="nav-item" role="relations">
              <button class="nav-link" id="pills-examples-tab" data-bs-toggle="pill" data-bs-target="#pills-examples" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><%= Sample.model_name.human %></button>
            </li>
            <li class="nav-item" role="relations">
              <button class="nav-link" id="pills-kanjis-tab" data-bs-toggle="pill" data-bs-target="#pills-kanjis" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><%= Meaning.model_name.human %></button>
            </li>
            <li class="nav-item" role="relations">
              <button class="nav-link" id="pills-omments-tab" data-bs-toggle="pill" data-bs-target="#pills-comments" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><%= Comment.model_name.human %></button>
            </li>
          </ul>
        </div>
        <div class="row justify-content-md-center">  
          <div class="tab-content col-10" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-meanings" role="tabpanel" aria-labelledby="pills-meanings-tab">
              <% if @bookmarked_slot_yojis.present? %>
                <div class="row" id="bookmark-slot_yoji">
                  <%= render partial: 'slot_yojis/slot_yoji', collection: @bookmarked_slot_yojis %>
                  <%= paginate @bookmarked_slot_yojis, param_name: 'slot_yojis_page', params: {type: :SlotYoji}, remote: true %>
                </div>
              <% else %>
                <%= t('.no_bookmark') %>
              <% end %>
            </div>
            <div class="tab-pane fade" id="pills-examples" role="tabpanel" aria-labelledby="pills-examples-tab">
              <% if @bookmarked_samples.present? %>
                <div class="row">
                  <div class="col" id="bookmark-sample">
                  <%= render partial: 'samples/sample', collection: @bookmarked_samples, as: :sample %>
                  <%= paginate @bookmarked_samples, param_name: 'samples_page', params: {type: :Sample}, remote: true %>
                  </div>
                </div>
              <% else %>
                <%= t('.no_bookmark') %>
              <% end %>
            </div>
            <div class="tab-pane fade" id="pills-kanjis" role="tabpanel" aria-labelledby="pills-kanjis-tab">
              <% if @bookmarked_meanings.present? %>
                <div class="row">
                  <div class="col" id="bookmark-meaning">
                    <%= render partial: 'user_reactions/user_reaction', collection: @bookmarked_meanings, as: :user_reaction %>
                    <%= paginate @bookmarked_meanings, param_name: 'meanings_page', params: {type: :Meaning}, remote: true %>
                  </div>
                </div>
              <% else %>
                <%= t('.no_bookmark') %>
              <% end %>
            </div>
            <div class="tab-pane fade" id="pills-comments" role="tabpanel" aria-labelledby="pills-meanings-tab">
              <% if @bookmarked_comments.present? %>
                <div class="row">
                  <div class="col" id="bookmark-comments">
                    <%= render partial: 'user_reactions/user_reaction', collection: @bookmarked_comments, as: :user_reaction %>
                    <%= paginate @bookmarked_comments, param_name: 'comments_page', params: {type: :Comment}, remote: true %>
                  </div>
                </div>
              <% else %>
                <%= t('.no_bookmark') %>
              <% end %>
            </div>
          </div>
        </div>  
      </div>
    </p>
  </div>
</div>