<header>
  <nav class="navbar navbar-expand-lg navigation navbar-info bg-info">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= t('.nav_top') %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavMarkup">
      <ul class="navbar-nav ms-auto main-nav">
        <li class="nav-item">
          <%= link_to t('.nav_slot_new'), new_slot_yoji_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('.nav_slot_index'), slot_yojis_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownBasicYojiMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t('.nav_list_basic_yoji') %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDarkDropdownBasicYojiMenuLink">
            <li><%= link_to t('.nav_basic_index'), basic_yojis_path, class:"dropdown-item"%></li>
            <li><%= link_to t('.nav_basic_new'), new_basic_yoji_path, class:"dropdown-item"%></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownOthorMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t('.nav_list_other') %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDarkDropdownOtherMenuLink">
            <li><%= link_to t('.nav_kanji_index'), kanjis_path, class:"dropdown-item"%></li>
            <li><%= link_to t('.nav_bookmark_index'), bookmarks_path, class:"dropdown-item"%></li>
          </ul>
        </li>
        <li class="nav-item align-items-end">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownLoginUserMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag current_user.avatar_url, class: 'rounded-circle mr15', size:'24x24' %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDarkDropdownLoginUserMenuLink">
            <li><%= link_to t('.nav_profile'), profile_path(current_user), class:"dropdown-item"%></li>
            <li><%= link_to t('defaults.logout'), logout_path, class: 'dropdown-item', method: :delete%><li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>