<%= form_with model: basic_yojis_form, url: polymorphic_path(basic_yojis_form.basic_yoji), local: true do |f| %>
  <%= render 'shared/error_messages', { object: f.object }  %> <%# form_objectのエラー %>
  <%= render 'shared/error_messages', { object: f.object.basic_yoji } %> <%# basic_yojiのエラー(unipuness) %>
  <div class="form-group py-3">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group py-3">
    <%= f.label :sound %>
    <%= f.text_field :sound, class:'form-control', pattern:"[\u3041-\u3096]*" %>
  </div>
  <div class="form-group py-3">
    <%= f.label :meaning %>
    <%= f.text_area :meaning, class:'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-primary my-3' %>
<% end %>