<a class="btn btn-primary my-1" data-bs-toggle="collapse" href="#collapseUserReaction<%= user_reaction.type %>Form" role="button" aria-expanded="false" aria-controls="collapseExample">
  <%= t('.open_form') %>
</a>
<div class="collapse" id="collapseUserReaction<%= user_reaction.type %>Form">
  <div class="card card-body">
    <div class="row">
      <%= form_with model: [user_reaction.slot_yoji, user_reaction], local: true do |f| %>
        <div class="row justify-content-md-center position-relative">  
          <div class="col-sm-8 col-md-9 col-lg-10">
            <%= f.label :body %>
            <%= f.text_field :body, class:'form-control', required: true %>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-2">
            <%= f.submit class:"btn btn-primary position-absolute bottom-0"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>